# Python
*.pyc
__pycache__/
*.pyo
*.pyd
*.pdb
*.egg-info/
dist/
build/

# Virtual Environment
venv/
env/
.venv/
.env/

# VS Code
.vscode/

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# Environment variables
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# macOS
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini

# Logs
*.log
*.csv
*.dat
*.out

# MyPy cache
.mypy_cache/

# Pyre type checker
.pyre/

# Pytest cache
.pytest_cache/

# Coverage reports
htmlcov/
.coverage
.coverage.*

# Test output
*.html
*.xml

# Other IDEs and editors
.idea/
*.swp

config.py